<head>
    <title>Playlists</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="./js/delete_song_from_playlist.js" type="text/javascript"></script>
</head>


<h1>Playlists</h1>

[ <a href="genres">Genres</a> | <a href="artists">Artists</a> | <a href="songs">Songs</a> | <a
    href="customers">Customers</a> | <a href="playlists">Playlists</a>| <a href="albums">Albums</a> ]

{{!-- Create a table --}}
<table id="playlist-table">

    {{!-- Header section --}}
    <thead>

        <tr>
            <th>playlistID</th>
            <th>number of streams</th>
            <th>playlist name</th>
            <th>description</th>
            <th>song title</th>
            <th>remove song</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr playlistid-value={{this.playlistID}} songid-value={{this.songID}}>
            <td>{{this.playlistID}}</td>
            <td>{{this.numberOfStreams}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.title}}</td>
            <td><button onclick="deleteSongFromPlaylist({{this.playlistID}}, {{this.songID}})">X</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>