{{!-- Just some plain text --}}

<head>
    <title>Songs</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<h1>Songs</h1>

[ <a href="genres">Genres</a> | <a href="artists">Artists</a> | <a href="songs">Songs</a> | <a
    href="customers">Customers</a> | <a href="playlists">Playlists</a>| <a href="albums">Albums</a> ]


{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.songID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.numberOfStreams}}</td>
            <td>{{this.album}}</td>
            <td>{{this.artist}}</td>
            <td>{{this.genre}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Add a Song</h2>
<p>To add a new song, please enter their information below and click `Submit`!</p>
<form id="add-song-form" method="POST" action="/add-song-form">
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title-html">

    <label for="input-duration">Duration: </label>
    <input type="text" name="input-duration" id="input-duration-html">

    <label for="input-album">Album: </label>
    <select name="input-album" id="input-album-html">
        <option value="">Select an Album</option>
        {{#each albums}}
        <option value="{{this.albumID}}">{{this.title}}</option>
        {{/each}}
    </select>

    <label for="input-artist">Artist</label>: </label>
    <select name="input-artist" id="input-artist-html">
        <option value="">Select an Artist</option>
        {{#each artists}}
        <option value="{{this.artistID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-genre">Genre</label>:</label>
    <select name="input-genre" id="input-genre">
        <option value="">Select a Genre</option>
        {{#each genres}}
        <option value="{{this.genreID}}">{{this.genreID}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>


<h2>Set a Genre to be Null</h2>
<p>Select the song to remove genre of.</p>
<form id="update-song-form-ajax">

    <label for="input-fullname">songName: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select the Song</option>
        {{#each data}}
        <option value="{{this.songID}}">{{this.title}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>
<script src="./js/remove_genre.js"></script>